<div class="header">
    <div class="header_left">
        <mat-icon aria-hidden="false" aria-label="menu icon">menu</mat-icon>
        <img class="header_logo"
        src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Logo_of_YouTube_%282015-2017%29.svg"
        alt="youtubelogo"
        />
    </div>
    <div class="header_input">
        <input type="text" placeholder="Search"/>
        <mat-icon aria-hidden="false" aria-label="icon"class="header_inputButton">search</mat-icon>    
    </div>
    <div class="header_icons">
        <mat-icon aria-hidden="false" aria-label="video_call icon"class="header_icon">video_call</mat-icon>
        <mat-icon aria-hidden="false" aria-label="apps icon"class="header_icon">apps</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Notifications icon"class="header_icon">notifications</mat-icon>
        <img src="https://devskweb.github.io/skwebprofile/images/profilepic.jpeg" alt="Avatar" class="avatar header_icon">    
    </div>
    </div>