<div id="sidebar">
    <app-sidebar-row [selected]="'selected'" [icon]="'homeicon'" [title]="'Home'"></app-sidebar-row>
    <app-sidebar-row [icon]="'whatshot'" [title]="'Trending'"></app-sidebar-row>
    <app-sidebar-row [icon]="'subscriptions'" [title]="'Subscription'"></app-sidebar-row>
<hr/>
<app-sidebar-row [icon]="'video_library'" [title]="'Library'"></app-sidebar-row>
<app-sidebar-row [icon]="'history'" [title]="'History'"></app-sidebar-row>
<app-sidebar-row [icon]="'ondemand_video'" [title]="'Your videos'"></app-sidebar-row>
<app-sidebar-row [icon]="'watch_later'" [title]="'Watch later'"></app-sidebar-row>
<app-sidebar-row [icon]="'thumb_up_alt'" [title]="'Liked videos'"></app-sidebar-row>
<app-sidebar-row [icon]="'expand_more'" [title]="'Show more'"></app-sidebar-row>
<hr/>
</div>